<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948989908880-ep8e3reqtu3rq1iiqreee3g3ac28g4su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948989908880-ep8e3reqtu3rq1iiqreee3g3ac28g4su</string>
	<key>API_KEY</key>
	<string>AIzaSyAE8f4oQkideNOMMYQu-QEHeaLIVVvNtxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>948989908880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>company.ize.COVID-19-Risk</string>
	<key>PROJECT_ID</key>
	<string>covid-19-risk</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-19-risk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948989908880:ios:446cf8df3485443e950515</string>
	<key>DATABASE_URL</key>
	<string>https://covid-19-risk.firebaseio.com</string>
</dict>
</plist>